* {
  box-sizing: border-box; 
}

input:focus {
  background-color: white;
}

img {
  width: 300px;
  height: 250px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(90deg, rgba(63,177,251,0.6166841736694677) 0%, rgba(70,92,252,0.8155637254901961) 100%);
}

input {
  border-bottom: 3px solid #3a62e4d3;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 20px;
}

.search-container {
  position: relative;
  width: 200px;
}

.search-container input,
.search-container .suggestions {
  background-color: hwb(207 63% 3%);
}

.search-container input {
  color: hsl(1, 67%, 53%);
}

.search-container .suggestions {
  position: absolute;
  width: 247px;
  max-height: 400px;
  overflow-y: hidden;
}

ul {
  padding: 0;
  margin: 0;
  background-color: hwb(207 63% 3%);
  font-size: 20px;
}

.has-suggestions {
  font-weight: 600;
}

ul li {
   list-style: none;
}

ul li:hover {
  background-color: hsla(1, 67%, 53%, 0.331);
}

input {
  height: 40px;
}

