* {
  /* box-sizing: border-box; */
}

:focus {
 /* TODO */
}

body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  background: rgb(63,177,251);
  background: radial-gradient(circle, rgba(63,177,251,0.6166841736694677) 0%, rgba(70,92,252,0.8155637254901961) 100%);
}

input {
 /* TODO */
}

.search-container {
 /* TODO */
}
.search-container input,
.search-container .suggestions {
  /* TODO */
}
.search-container input {
 /* TODO */
}
.search-container .suggestions {
   /* TODO */
}

ul {
  /* TODO */
}
ul.has-suggestions {
  /* TODO */
}
ul li {
  /* TODO */
}
ul li:hover {
  /* TODO */
}

input {
   /* TODO */
}

img {
  width: 500px;
  height: 400px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
}